<h1>Coin Combinations</h1>
<form action="/coins">
  <div class="form-group">
     <label for="title">Enter an amount in cents to see the change in coins
     </label>
     <input id="coins" name="coins" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Submit</button>
</form>
